#section-product-template {
  padding-top: 100px;
  padding-bottom: 100px;
}

#section-product-template .product-details-left .product-details-images .lg-image img {
  width: 100%;
}

#section-product-template .product-details-thumbs {
  margin-top: 10px;
  margin-right: -15px;
}

#section-product-template .product-details-thumbs .slick-arrow {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  right: auto;
  background: #ddd;
  border: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#section-product-template .product-details-thumbs .slick-arrow:hover {
  background: #8a8f6a;
  color: #ffffff;
}

#section-product-template .product-details-thumbs .swiper-button-next {
  right: 0px;
  left: auto;
}

#section-product-template .product-details-thumbs:hover .slick-arrow {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  visibility: visible;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.product-image {
  display: block;
}

.single-product-wrap {
  margin-top: 30px;
}

.single-product-wrap a {
  display: block;
}

.single-product-wrap .label-product {
  position: absolute;
  background: #000;
  color: #fff;
  padding: 0px 14px;
  top: 0;
  font-size: 12px;
  text-transform: uppercase;
}

.single-product-wrap .label-product.label-sale {
  right: 15px;
  left: auto;
  background: #8a8f6a;
}

.product-details-view-content .product-info h2 {
  margin-bottom: 20px;
}

.product-details-view-content .product-info .price-box {
  margin-bottom: 20px;
  margin-bottom: 10px;
}

.product-details-view-content .product-info .price-box .old-price {
  text-decoration: line-through;
  font-size: 16px;
  margin-right: 8px;
}

.product-details-view-content .product-info .price-box .new-price {
  font-size: 16px;
  font-weight: 600;
  margin-right: 8px;
}

.product-social-sharing {
  margin-top: 20px;
}

.product-social-sharing label {
  display: block;
  font-size: 16px;
  font-weight: 600;
}

.product-social-sharing ul li {
  display: inline-block;
  margin-right: 8px;
}

.product-social-sharing ul li a {
  border-radius: 3px;
  height: 30px;
  width: 30px;
  background: #333;
  text-align: center;
  line-height: 30px;
  color: #fff;
}

.product-social-sharing ul li a:hover {
  background: #8a8f6a;
}

.mb--50 {
  margin-bottom: 50px;
}

#section-single-product-tab {
  padding-top: 0px;
}

#section-single-product-tab .product-details-tab .nav {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

#section-single-product-tab .product-details-tab .nav li {
  margin: 0 10px;
}

#section-single-product-tab .product-details-tab .nav li a.active {
  color: #8a8f6a;
  border: none;
}

#section-single-product-tab .product-details-tab .nav li a.active:before {
  visibility: visible;
  opacity: 1;
  -ms-filter: 1;
  width: 100%;
}

#section-single-product-tab .product-details-tab .nav li a {
  color: #383838;
}

#section-single-product-tab .product-details-tab .nav li a {
  font-weight: 500;
  font-size: 18px;
  display: block;
  padding-bottom: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
  padding: 0;
}

#section-single-product-tab .product-details-tab .nav li a:before {
  content: "";
  background: #8a8f6a;
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -ms-filter: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#section-related-product .section-title {
  background: url("../images/title-bg-2.webp");
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-bottom: 20px;
  padding-bottom: 60px;
}

.spr-form-actions .spr-button:hover {
  background: #000;
}

th,
td {
  text-align: left;
  padding: 15px;
  border: 1px solid #e5e5e5;
}

@media (max-width: 767px) {
  .single-add-to-cart .product-cart-action {
    float: none;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .single-add-to-cart .wishlist-action {
    float: none;
  }
}

@media only screen and (max-width: 479px) {
  .product-details-tab .nav li a {
    padding-bottom: 10px;
  }
  .product-details-tab .nav li a:last-child {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=editproduct.css.map */