form {
  margin-bottom: 0;
}
#section-collection-template {
  padding-top: 100px;
  padding-bottom: 100px;
  .sidebar-categores-box {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ebebeb;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 30px;
    padding: 15px;
    .filter-sub-area h5 {
      color: #2f333a;
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 1;
      margin: 30px 0 10px;
      padding: 0 0 10px;
      position: relative;
      text-transform: uppercase;
    }
    .filter-sub-area h5 {
      font-size: 18px;
      margin: 0px 0 13px;
      padding: 0 0 10px;
    }
    .search-results {
      z-index: 8889;
      list-style-type: none;
      width: 190px;
      margin: 0;
      padding: 0;
      background: #ffffff;
      border: 1px solid #cccccc;
      border-radius: 0px;
      -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }
  }
  .sidebar-title h2 {
    color: #2f333a;
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    margin: 0 0 13px;
    padding: 0 0 10px;
    position: relative;
    text-transform: uppercase;
  }
}
.category-sub-menu ul li.has-sub > a {
  border-top: 1px solid #ebebeb;
  color: #363f4d;
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 20px;
  padding: 14px 0;
  position: relative;
}
.category-sub-menu ul li.has-sub > a::after {
  color: #333333;
  content: "\f067";
  font-family: "FontAwesome";
  font-size: 12px;
  position: absolute;
  right: 5px;
}
.category-sub-menu ul li.has-sub > a.collapsed::after {
  content: "\f068";
}
.category-sub-menu ul li.has-sub li a {
  border: 0 none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  display: block;
  font-size: 14px;
  line-height: 14pxpx;
  margin: 0 0px 10px 0;
  padding: 0 10px 5px;
  color: #333;
  border-bottom: 1px solid #ddd;
}
.category-sub-menu ul li.has-sub li:last-child a {
  border: none;
  margin-bottom: 10px;
}
.single-banner {
  overflow: hidden;
  a {
    display: block;
    img {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: 0.9s;
      transition: 0.9s;
      width: 100%;
    }
    img:hover {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
}
.price-checkbox li,
.size-checkbox li,
.color-categoriy li,
.categori-checkbox li {
  margin: 8px 0;
}
.price-checkbox li a,
.size-checkbox li a,
.color-categoriy li a,
.categori-checkbox li a {
  color: #363f4d;
  font-size: 16px;
  margin-top: 0;
}
.price-checkbox li a :hover,
.size-checkbox li a :hover,
.color-categoriy li a :hover,
.categori-checkbox li a :hover {
  color: #8a8f6a;
}
.shop-top-bar {
  padding: 15px;
  border: 1px solid #ededed;
  .shop-bar-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .shop-item-filter-list li a {
      color: #333333;
      font-size: 20px;
      padding-right: 15px;
    }
  }
  .toolbar-amount {
    font-size: 14px;
    margin-left: 30px;
    margin-top: 0px;
  }
  .product-short {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    p {
      font-size: 14px;
      margin: 0px 10px 0 0;
    }
  }
}
.single-product-wrap {
  margin-top: 30px;
  .product-image {
    position: relative;
    a img {
      width: 100%;
    }
  }
  .product-content {
    margin-top: 20px;
    text-align: left;
    position: relative;
    h3 {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
      line-height: 20px;
    }
    .price-box {
      font-size: 14px;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      .old-price {
        text-decoration: line-through;
        font-size: 14px;
        font-weight: 500;
        margin-left: 5px;
      }
    }
  }
  .product-action {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    .cart-disable {
      cursor: not-allowed;
    }
    .add-to-cart {
      border-right: none;
      font-size: 15px;
      font-weight: 500;
      padding: 0;
      background: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-top: none;
      border-left: 0;
      border-bottom: 2px solid #ddd;
      margin-top: -3px;
      i {
        font-size: 10px;
        margin-right: 5px;
      }
    }
    .add-to-cart:hover {
      border-bottom: 2px solid #8a8f6a;
      color: #8a8f6a;
    }
    .star_content {
      font-size: 15px;
    }
  }
  a {
    display: block;
  }
  .label-product {
    position: absolute;
    left: 0;
    background: #000;
    color: #fff;
    padding: 0px 14px;
    top: 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  .label-product.label-sale {
    right: 0;
    left: auto;
    background: #8a8f6a;
  }
  .quick_view .quick-view-btn {
    position: absolute;
    bottom: 12px;
    right: 12px;
    left: auto;
    width: 44px;
    background: #ddd;
    height: 44px;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  .quick_view .quick-view-btn:hover {
    background: #8a8f6a;
    color: #ffffff;
  }
}
.single-product-wrap:hover .add-to-cart,
.single-product-wrap:hover .star_content,
.single-product-wrap:hover .quick_view .quick-view-btn {
  visibility: visible;
  opacity: 1;
  -ms-filter: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.single-product-wrap:hover .price-box {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.shop-top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.paginatoin-area {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  padding: 15px 0;
  margin-top: 40px;
}
@media only screen and (max-width: 479px), only screen and (max-width: 767px) {
  .paginatoin-area p {
    text-align: center;
    margin-bottom: 8px;
  }
}
.pagination-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  li {
    display: inline-block;
    a {
      color: #333333;
      display: block;
      padding: 0 8px;
    }
    a:hover {
      color: #8a8f6a;
    }
  }
  li.active a {
    color: #8a8f6a;
  } 
}
@media only screen and (max-width: 479px), only screen and (max-width: 767px) {
  .pagination-box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
  .theme-default-pagination{
    width: 100%;
    
  }
}
@media only screen and (max-width: 767px) {
  .shop-top-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .shop-bar-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media(max-width:767px){
  .shop-sidebar{
    padding-top: 30px;
  }
}
